:root {
  --blue: rgb(4, 68, 164);
  --blueLight: rgb(137, 175, 211);
  --bluePastel: rgb(78, 135, 195);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.main-header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
  padding: 0 2vw;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.197);
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.company-logo {
  height: 9vw;
  width: auto;
  object-fit: contain;
}

.main-nav ul {
  display: flex;
  gap: 6vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.2s;
}

.main-nav a:hover {
  color: #4eb3ff;
}

.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.4);
  z-index: 1;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  z-index: 2;
}

.product-slider {
  margin-top: 25vw;
  display: flex;
  transition: transform 1s ease;
  height: 100%;
}
.product {
  min-width: 100vw;
  max-height: 50vw;
  height: auto;
  object-fit: contain;
}

.hero-text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  text-align: center;
  color: white;
  border-radius: 8px;
}

.hero-text h1 {
  text-wrap: balance;
  padding-inline: 3vw;
  font-size: 2.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero-text p {
  width: 100vw;
  font-size: 1.3rem;
  margin-bottom: 5vw;
  color: lightblue;
  border: solid;
  padding: 2vw 5vw;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.spin-letter {
  display: inline-block;
  animation: clorblue 3.2s linear infinite;
  perspective: 600px;
  color: var(--blue);
}

.blue-letter {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  animation: clorblue 3.2s linear infinite;
}

@keyframes clorblue {
  0% {
    color: var(--blue);
  }
  50% {
    color: white;
  }
  100% {
    color: var(--blue);
  }
}

.slide-up {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 1.5s ease-out forwards;
  animation-delay: 0.9s; /* Optional: delay after page loads */
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.refaccionamiento {
  padding: 4vw;
  background-color: white;
  margin: 5vw 0;
  text-align: center;
}

.refaccionamiento h2 {
  font-family: "Inter", sans-serif;
  margin: 3vw 0;
  color: #343434;
  background-color: var(--blueLight);
  border-radius: 10px;
  padding: 2vw;
}

.refaccionamiento p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  margin: 2vw auto;
  width: 80%;
  padding-inline: 2vw;

  border-left: solid var(--blue);
  border-right: solid var(--blue);
}

.equiposCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2vw;
  justify-items: stretch;
  align-items: stretch;
}

.equiposCards .card {
  border-radius: 10px;
  padding: 2vw;
  margin: 1vw;
  color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card h3 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1vw;
  border-bottom: 1vw dotted #fff;
  padding-bottom: 2vw;
}
.card li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  margin-top: 3vw;
  list-style: none;
}

.card1 {
  background-color: #122534;
}
.card2 {
  background-color: #1c5150;
}

.card3 {
  background-color: #105167;
}

.card4 {
  background-color: #2e1d42;
}
.refaccionamiento h3 {
  font-family: "Roboto", sans-serif;
}

.marcas {
  border-left: solid var(--blue);
  border-right: solid var(--blue);
  margin-top: 8vw;
  margin-inline: auto;
  width: 50vw;
}

/* ...REEL... */
.reelBrands,
.reelBrands-rtl {
  width: 100%;
  overflow: hidden;
  height: 30vw;
  display: flex;
  align-items: center;
}
.reel-track-rtl {
  margin-top: 0;
  display: flex;
  width: max-content;
  animation: reel-scroll-rtl 15s linear infinite;
}

@keyframes reel-scroll-rtl {
  0% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.reel-track {
  margin-top: 0;
  display: flex;
  width: max-content;
  animation: reel-scroll 15s linear infinite;
}

.brand-logo {
  height: 40vw;
  margin: 0 5vw;
  object-fit: contain;
  filter: grayscale(1);
  transition: filter 0.3s;
}

.eatonBrand {
  margin-inline: 5vw;
  margin-top: 17vw;

  height: 9vw;
  filter: grayscale(1);
}

.fanucBrand {
  margin-top: 17vw;
  height: 5vw;
  filter: grayscale(1);
}
.brand-logo:hover {
  filter: grayscale(0);
}

@keyframes reel-scroll {
  0% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.servicios {
  padding: 4vw;
  background-color: var(--blueLight);
  margin: 5vw 0;
  text-align: center;
}

.serviciosParag {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  margin: 2vw auto;
  width: 80%;
  color: #343434;
  padding-inline: 2vw;
  border-left: solid lightblue;
  border-right: solid lightblue;
}

.servicios h3 {
  font-family: "Open Sans", sans-serif;

  margin-top: 10vw;
  margin-bottom: 0;
  color: #343434;
}
.servicios article,
.servicios h2 {
  margin: 2vw auto;
  font-family: "Inter", sans-serif;

  padding: 2vw;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.servicios img {
  width: 50vw;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.iconP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: double var(--blue) 0.8vw;
  border-bottom: double var(--blue) 0.85vw;
    height: 45vw;

}

.iconP i {
  font-size: 2rem;
  color: var(--blue);
  margin: 0;
}

.servicios article p {
  display: flex;
  align-items: center;
  font-size: .9rem;

  padding-inline: 2vw;
}

.contactanos {
  padding: 4vw;
  margin: 5vw 0;
  text-align: center;
}

.contactanos h2 {
  font-family: "Inter", sans-serif;
  margin: 3vw 0;
  color: #343434;
  background-color: var(--blueLight);
  border-radius: 10px;
  padding: 2vw;
}

.contactanos p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  margin: 2vw auto;
  width: 80%;
  color: #343434;
  padding-inline: 2vw;
  border-left: solid var(--blue);
  border-right: solid var(--blue);
}

.contactanos article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4vw;
  background-color: var(--blue);
  border-radius: 10px;
}

.contactanos a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: 0 1vw;
  animation: pulseContact 4s infinite linear;
}

/* Pulse keyframes */
@keyframes pulseContact {
  0% {
    transform: translateX(0);
    text-shadow: 0 0 0 #4eb3ff;
  }
  50% {
    transform: translateY(1vw);
    text-shadow: 0 0 12px #4eb3ff;
  }
  100% {
    transform: translateX(0);
    text-shadow: 0 0 0 #4eb3ff;
  }
}

/* Wave effect: delay for each link */
.contactanos a:nth-child(1) {
  animation-delay: 0s;
}
.contactanos a:nth-child(2) {
  animation-delay: 0.4s;
}
.contactanos a:nth-child(3) {
  animation-delay: 0.6s;
}
.contactanos a:nth-child(4) {
  animation-delay: 0.8s;
}

.contactForm {
  border-left: solid var(--blue);
  border-right: solid var(--blue);
  padding: 2vw 5vw;
  width: 70vw;
  margin: 0 auto;
  background-color: white;
  border-radius: 0% 0% 3% 3%;
}
.contactForm h2 {
  font-family: "Inter", sans-serif;
  margin: 3vw 0;
  font-size: 1.3rem;
  text-align: center;
  color: #343434;
  background-color: var(--blueLight);
  border-radius: 10px;
  padding: 2vw;
}

.contactForm input,
.contactForm textarea,
.contactForm select {
  width: 100%;
  padding: 1vw;
  font-family: "Open Sans", sans-serif;
  margin: 1vw 0;
  border: 1px solid var(--blue);
  border-radius: 5px;
  font-size: 1rem;
}

.contactForm select option {
  font-family: "Open Sans", sans-serif;
  font-size: .9rem;
  
}

.contactForm label {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5vw;
  display: block;
}
.contactForm button {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 1vw 2vw;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 40%;
  border-radius: 5px;
}

.banner {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 10vw;
  width: 100%;
  background-image: url("images/banner.webp");
  background-size: cover;
  background-position: center;
  padding: 2vw;
  height: 75vw;

  color: white;
}

footer {
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding: 2vw;
  font-family: "Open Sans", sans-serif;
}

footer span {
  display: block;
  margin-top: 1vw;
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
}

footer img {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  margin-left: 1vw;
}

footer span a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

@media only screen and (min-width: 600px) {
  .main-nav a {
    font-size: 2rem;
  }

  .logo-container img {
    width: 20vw;
  }
  .hero-text h1 {
    font-size: 4rem;
  }
  .hero-text p {
    font-size: 2rem;
    padding: 2vw 5vw;
  }
  .product-slider {
    margin-top: 20vw;
  }

  .refaccionamiento h2 {
    font-size: 2.5rem;
  }

  .refaccionamiento p {
    font-size: 1.5rem;
  }

  .equiposCards .card h3 {
    font-size: 1.9rem;
  }

  .equiposCards .card li {
    font-size: 1.5rem;
  }

  .marcas {
    font-size: 3rem;
    border-left: solid var(--blue) 1vw;
    border-right: solid var(--blue) 1vw;
  }

  .brand-logo {
    height: 30vw;
    margin: 0 3vw;
  }

  .fanucBrand,
  .eatonBrand {
    width: 30vw;
  }

  .servicios h2 {
    font-size: 2.5rem;
  }

  .serviciosParag {
    font-size: 2rem;
    border-left: solid lightblue 1vw;
    border-right: solid lightblue 1vw;
  }
  .servicios h3 {
    font-size: 2.5rem;
  }

  .iconP{
      height: 45vw;
    border-top: double var(--blue) 1vw;
    border-bottom: double var(--blue) 1.5vw;
  }

  .iconP i{
    font-size: 3rem;
  
  }

  .servicios article p {
    font-size: 1.9rem;
  
  }

  .contactanos h2 {
    font-size: 2.5rem;
  }

  .contactanos p {
    font-size: 1.9rem;
    padding-inline: 2vw;
    border-left: solid var(--blue) 1vw;
    border-right: solid var(--blue) 1vw;
  }

  .contactanos article i {
    font-size: 2.9rem;
  }

  .contactForm {
    border-left: solid var(--blue) 1vw;
    border-right: solid var(--blue) 1vw;
  }

  .contactForm h2 {
    font-size: 2.5rem;
  }

  .contactForm input,
  .contactForm textarea {
    font-size: 1.5rem;
    padding: 1.5vw;
  }

  .contactForm label {
    font-size: 1.5rem;
  }

  .contactForm button {
    font-size: 1.5rem;
    padding: 1.5vw 3vw;
  }

  .banner {
    font-size: 1.5rem;
    padding: 3vw;
    height: 50vw;
  }

  footer {
    font-size: 1.5rem;
  }

  footer span {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 900px) {
  .main-nav a {
    font-size: 1.2rem;
  }

  .main-header {
    height: 5vw;
    justify-content: space-between;
  }
  .logo-container img {
    width: 8vw;
  }

  .product {
    min-width: 100vw;
    max-height: 20vw;
  }

  .hero-text {
    top: 60%;
  }

  .hero-text h1 {
    font-size: 2.9rem;
    margin: 0;
  }

  .hero-text p {
    font-size: 1.5rem;
    margin: 0;
  }

  .product-slider {
    margin-top: 6vw;
  }

  .refaccionamiento h2 {
    font-size: 2rem;
    margin-top: 0;
  }

  .refaccionamiento p {
    font-size: 1.2rem;
    padding-inline: 0vw;
    border-left: solid var(--blue) 0.5vw;
    border-right: solid var(--blue) 0.5vw;
  }
  .equiposCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .equiposCards .card h3 {
    font-size: 1.5rem;
  }

  .equiposCards .card li {
    font-size: 1.2rem;
    margin-top: 1vw;
  }

  .marcas {
    font-size: 2rem;
    padding-inline: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 3vw;
    border-left: solid var(--blue) 0.5vw;
    border-right: solid var(--blue) 0.5vw;
  }

  .brand-logo {
    height: 10vw;
    margin-inline: 8vw;
  }

  .reel-track,
  .reel-track-rtl {
    height: 10vw;
    margin: 0;
    margin-bottom: 0;
  }

  .fanucBrand,
  .eatonBrand {
    width: 10vw;
  }

  .servicios h2 {
    font-size: 2rem;
  }

  .serviciosParag{
    font-size: 1.5rem;
    border-left: solid lightblue 0.5vw ;
    border-right: solid lightblue 0.5vw;
   
  }

  .servicios h3 {
    font-size: 1.8rem;
  }
  .servicios article{
    width: fit-content;
    margin-top: 0;
  }

   .servicios article img{
    width: 25vw;

   }

   .iconP{
    height: 20vw;

  
   }

    .iconP i{
    font-size: 4rem;}

   .servicios article p{
    font-size: 1.4rem;
   }

   .contactanos h2 {
    font-size: 2rem;}

    .contactanos p {
    font-size: 1.5rem;
    padding-inline: 0vw;
    border-left: solid var(--blue) 0.5vw; 
    border-right: solid var(--blue) 0.5vw;
  }

   .contactForm {
    width: 60vw;
    padding: 2vw 4vw;   
    border-left: solid var(--blue) 0.5vw ;
    border-right: solid var(--blue) 0.5vw;
}

.contactForm h2 {
    font-size: 1.8rem;
  }

  .contactForm input,
  .contactForm textarea {
    font-size: 1.2rem;
    padding: 1vw;
  }

  .contactForm label {
    font-size: 1.2rem;
  }

  .contactForm button {
    font-size: 1.2rem;
    padding: 1vw 2vw;
  }

  .banner {
    font-size: 1.2rem;
    padding: 2vw;
    height: 30vw;
    background-size: auto;
  } 

  footer span img{
    width: 3vw;
    height: 3vw;
  }


}